<mat-toolbar>
    <div fxShow="true" fxHide.lt-md="true">
        <a mat-button [routerLink]="['chart-js-sample-line']">Line chart</a>
        <a mat-button [routerLink]="['chart-js-sample-bar']">Bar chart</a>
    </div>
    <div fxShow="true" fxHide.gt-sm="true">
        <mat-icon aria-label="Side nav toggle icon" (click)="sidenav.toggle()">menu</mat-icon>
    </div>
    <span class="spacer-left"></span>
    <span>Welcome {{User?.FirstName}}</span>
</mat-toolbar>
<mat-sidenav-container fxFlexFill class="side-panel">
    <mat-sidenav #sidenav fxLayout="column" color="primary">
        <div fxLayout="column">
            <a (click)="sidenav.toggle()" mat-button>Close</a>
            <a mat-button [routerLink]="['chart-js-sample-line']">Line chart</a>
            <a mat-button [routerLink]="['chart-js-sample-bar']">Bar chart</a>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
